body{
    text-align: center;
    background:url(image/zel0.png);
     margin:90px ;
  }
  .bis{
    color: white;
    font-size: 20px;
  }

  
  .category{
    color:orange ;
  }
  
  
.reseaux{
    display:flex ;
    justify-content: center ;
    gap:60px ;
    margin-top:90px ;
}
.box{
    width: 200px;
    background:white;
    border-radius:15px ;
    padding:20px ;
    text-align: center;
}
    

.box img{
    width: 80px;
    height:80px ;
    margin-bottom: 15px;
}

.box h3{
    margin:10px ;
    font-size: 24px;
}
.box p{
    color:orange  ;
    font-size:18px ;
}
.a{
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
}
